{
    "data": {
        "email": "!!primary email!!",
        "gitconfig": {
            "signingKey": "!!public key from 1password!!",
            "homeDir": "!!home dir for user - must have quadruple backslash!!",
            "sshSignPath": "!!op-ssh-sign path from 1password!!"
        }
    }
}